.center {
 padding-right:200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center1{
 padding-left:350px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2{
 padding-left:830px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center3{
 padding-left:1100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



